<div class="main-wrapper-pages">
  <div class="contaier">
    <div class="title"> The Bartender</div>
    <div class="d-flex justify-content-center text-white align-items-center">
      <h3 class="home-buttom"><%= link_to 'Choose a Cocktail', cocktails_path %></h3>
      <h3>or</h3>
      <h3 class="home-buttom"><%= link_to 'Mix a New One', new_cocktail_path %></h3>
    </div>
  </div>
</div>
